Data Science Tools

## Introduction

In this notebook, we will explore various data science tools and techniques used for data analysis and machine learning. We will cover the essential steps including data loading, cleaning, visualization, and model building. By the end of this notebook, you will have a better understanding of how to apply these tools to your own data science projects.

## Data Science Languages

The following programming languages are commonly used in data science:

- Python
- R
- SQL
- Julia
- Java
- Scala
- MATLAB
- SAS

## Data Science Libraries

The following libraries are widely used in data science:

- **Python Libraries**:
  - NumPy
  - pandas
  - Matplotlib
  - Seaborn
  - SciPy
  
- **R Libraries**:
  - ggplot2
  - dplyr
  - tidyr
  - readr
  - caret

- **SQL Libraries**:
  - SQLite
  - MySQL
  - PostgreSQL

- **Other Libraries**:
  - Apache Spark (PySpark, SparkR)
  - Hadoop

## Data Science Tools

| Tool          | Description                                      |
|---------------|--------------------------------------------------|
| Jupyter       | An open-source web application for creating and sharing documents that contain live code, equations, visualizations, and narrative text. |
| RStudio       | An integrated development environment for R.     |
| Apache Hadoop | A framework that allows for the distributed processing of large data sets across clusters of computers using simple programming models. |
| Apache Spark  | An open-source unified analytics engine for big data processing, with built-in modules for streaming, SQL, machine learning, and graph processing. |
| TensorFlow    | An open-source platform for machine learning.    |
| Tableau       | A visual analytics platform transforming the way we use data to solve problems. |
| Power BI      | A business analytics service by Microsoft that provides interactive visualizations and business intelligence capabilities. |

## Arithmetic Expression Examples

In this section, we will demonstrate basic arithmetic operations such as addition, subtraction, multiplication, and division using Python code.

In [2]:
#Create a code cell to multiply and add numbers 
# Multiplication
product = 7 * 8
print("Product of 7 and 8 is:", product)

# Addition
sum_result = 15 + 25
print("Sum of 15 and 25 is:", sum_result)

Product of 7 and 8 is: 56
Sum of 15 and 25 is: 40

In [3]:
#Create a code cell to convert minutes to hours
# Conversion of minutes to hours
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours")

120 minutes is equal to 2.0 hours

## List Objectives

- Understand the basics of data science tools and languages.
- Learn to use various data science libraries for data manipulation and analysis.
- Demonstrate arithmetic operations in Python.
- Convert time units from minutes to hours using Python code.
- Gain hands-on experience with markdown and code cells in Jupyter Notebook.

## Author Name
Kshitija Karpe